RuleId	Deprecated List	Library to search	Entity to Search	Remedy
				
IC_JSFDC_2.0_001	javax.faces.webapp.AttributeTag	javax.faces.webapp	AttributeTag	The Faces implementation must now provide the implementation for this class. 
IC_JSFDC_2.0_002	javax.faces.webapp.ConverterTag	javax.faces.webapp	ConverterTag	"This has been partially replaced by ConverterELTag. The remainder of the functionality, namely, the binding facility and the implementation of the ConverterTag.createConverter() method, is now an implementation detail. "
IC_JSFDC_2.0_003	javax.faces.el.MethodBinding	javax.faces.el	MethodBinding	This has been replaced by MethodExpression. 
IC_JSFDC_2.0_004	javax.faces.el.PropertyResolver	javax.faces.el	PropertyResolver	This has been replaced by ELResolver. 
IC_JSFDC_2.0_005	javax.faces.application.StateManager.SerializedView	javax.faces.application.StateManager	SerializedView	"This class was not marked Serializable in the 1.0 version of the spec. It was also not a static inner class, so it can't be made to be Serializable. Therefore, it is being deprecated in version 1.2 of the spec. The replacement is to use an implementation dependent Object. "
IC_JSFDC_2.0_006	javax.faces.webapp.UIComponentBodyTag	javax.faces.webapp	UIComponentBodyTag	All component tags now implement BodyTag. This class has been replaced by UIComponentELTag. 
IC_JSFDC_2.0_007	javax.faces.webapp.UIComponentTag	javax.faces.webapp	UIComponentTag	"Use of this class has been replaced with UIComponentELTag, which extends UIComponentClassicTagBase to add properties that use the EL API introduced as part of JSP 2.1. "
IC_JSFDC_2.0_008	javax.faces.webapp.ValidatorTag	javax.faces.webapp	ValidatorTag	"This has been partially replaced by ValidatorELTag. The remainder of the functionality, namely, the binding facility and the implementation of the ValidatorTag.createValidator() method, is now an implementation detail. "
IC_JSFDC_2.0_009	javax.faces.el.ValueBinding	javax.faces.el	ValueBinding	This has been replaced by ValueExpression. 
IC_JSFDC_2.0_010	javax.faces.el.VariableResolver	javax.faces.el	VariableResolver	This has been replaced by ELResolver when operating with a null base argument. 
IC_JSFDC_2.2m11_001	javax.faces.view.facelets.ResourceResolver	javax.faces.view.facelets	ResourceResolver	
				
				
IC_JSFDE_2.0_001	javax.faces.el.EvaluationException	javax.faces.el	EvaluationException	This has been replaced by ELException. 
IC_JSFDE_2.0_002	javax.faces.el.MethodNotFoundException	javax.faces.el	MethodNotFoundException	This has been replaced by MethodNotFoundException. 
IC_JSFDE_2.0_003	javax.faces.el.PropertyNotFoundException	javax.faces.el	PropertyNotFoundException	This has been replaced by PropertyNotFoundException. 
IC_JSFDE_2.0_004	javax.faces.el.ReferenceSyntaxException	javax.faces.el	ReferenceSyntaxException	This has been replaced by ELException. 
	 			
IC_JSFDA_2.3_001	javax.faces.bean.ViewScoped	javax.faces.bean	ViewScoped	"This has been replaced by javax.faces.view.ViewScoped. The functionality of this corresponding annotation is identical to this one, but it is implemented as a CDI custom scope."
				
				
IC_JSFDF_2.0_001	javax.faces.component.UIComponent.bindings	javax.faces.component.UIComponent	bindings	 
IC_JSFDF_2.0_002	javax.faces.validator.Validator.NOT_IN_RANGE_MESSAGE_ID	javax.faces.validator.Validator	NOT_IN_RANGE_MESSAGE_ID	Use DoubleRangeValidator.NOT_IN_RANGE_MESSAGE_ID or LongRangeValidator.NOT_IN_RANGE_MESSAGE_ID instead. 
IC_JSFDF_2.0_003	javax.faces.component.NamingContainer.SEPARATOR_CHAR	javax.faces.component.NamingContainer	SEPARATOR_CHAR	use UINamingContainer.getSeparatorChar(javax.faces.context.FacesContext) 
IC_JSFDF_2.2m11_001	javax.faces.component.UIComponent.CURRENT_COMPONENT	javax.faces.component.UIComponent	CURRENT_COMPONENT	
IC_JSFDF_2.2m11_002	javax.faces.component.UIComponent.CURRENT_COMPOSITE_COMPONENT	javax.faces.component.UIComponent	CURRENT_COMPOSITE_COMPONENT	
				
				
IC_JSFDM_2.0_001	"javax.faces.application.Application.createComponent(ValueBinding, FacesContext, String)"	javax.faces.application.Application	"createComponent(ValueBinding,FacesContext,String)"	"This has been replaced by Application.createComponent(javax.el.ValueExpression,javax.faces.context.FacesContext,java.lang.String). "
IC_JSFDM_2.0_002	"javax.faces.application.Application.createMethodBinding(String, Class[])"	javax.faces.application.Application	"createMethodBinding(String,Class[])"	"This has been replaced by calling Application.getExpressionFactory() then ExpressionFactory.createMethodExpression(javax.el.ELContext, java.lang.String, java.lang.Class, java.lang.Class[]). "
IC_JSFDM_2.0_003	javax.faces.application.Application.createValueBinding(String)	javax.faces.application.Application	createValueBinding(String)	"This has been replaced by calling Application.getExpressionFactory() then ExpressionFactory.createValueExpression(javax.el.ELContext, java.lang.String, java.lang.Class). "
IC_JSFDM_2.0_004	javax.faces.webapp.UIComponentClassicTagBase.encodeBegin()	javax.faces.webapp.UIComponentClassicTagBase	encodeBegin()	No encoding is done during JSP page execution. Encoding is deferred until the page has completed executing to allow the entire tree to be built before any encoding occurs. 
IC_JSFDM_2.0_005	javax.faces.webapp.UIComponentClassicTagBase.encodeChildren()	javax.faces.webapp.UIComponentClassicTagBase	encodeChildren()	No encoding is done during JSP page execution. Encoding is deferred until the page has completed executing to allow the entire tree to be built before any encoding occurs. 
IC_JSFDM_2.0_006	javax.faces.webapp.UIComponentClassicTagBase.encodeEnd()	javax.faces.webapp.UIComponentClassicTagBase	encodeEnd()	No encoding is done during JSP page execution. Encoding is deferred until the page has completed executing to allow the entire tree to be built before any encoding occurs. 
IC_JSFDM_2.0_007	javax.faces.component.ActionSource.getAction()	javax.faces.component.ActionSource	getAction()	This has been replaced by ActionSource2.getActionExpression(). 
IC_JSFDM_2.0_008	javax.faces.component.UICommand.getAction()	javax.faces.component.UICommand	getAction()	This has been replaced by UICommand.getActionExpression(). 
IC_JSFDM_2.0_009	javax.faces.component.ActionSource.getActionListener()	javax.faces.component.ActionSource	getActionListener()	Use ActionSource.getActionListeners() instead. 
IC_JSFDM_2.0_010	javax.faces.component.UICommand.getActionListener()	javax.faces.component.UICommand	getActionListener()	Use UICommand.getActionListeners() instead. 
IC_JSFDM_2.0_011	javax.faces.render.ResponseStateManager.getComponentStateToRestore(FacesContext)	javax.faces.render.ResponseStateManager	getComponentStateToRestore(FacesContext)	"This method has been replaced by ResponseStateManager.getState(javax.faces.context.FacesContext, java.lang.String). The default implementation returns null. "
IC_JSFDM_2.0_012	javax.faces.application.StateManager.getComponentStateToSave(FacesContext)	javax.faces.application.StateManager	getComponentStateToSave(FacesContext)	the distinction between tree structure and component state is now an implementation detail. The default implementation returns null. 
IC_JSFDM_2.0_013	javax.faces.application.Application.getPropertyResolver()	javax.faces.application.Application	getPropertyResolver()	This has been replaced by Application.getELResolver(). 
IC_JSFDM_2.0_014	"javax.faces.render.ResponseStateManager.getTreeStructureToRestore(FacesContext, String)"	javax.faces.render.ResponseStateManager	"getTreeStructureToRestore(FacesContext,String)"	"This method has been replaced by ResponseStateManager.getState(javax.faces.context.FacesContext, java.lang.String). The default implementation returns null. "
IC_JSFDM_2.0_015	javax.faces.application.StateManager.getTreeStructureToSave(FacesContext)	javax.faces.application.StateManager	getTreeStructureToSave(FacesContext)	the distinction between tree structure and component state is now an implementation detail. The default implementation returns null. 
IC_JSFDM_2.0_016	javax.faces.component.EditableValueHolder.getValidator()	javax.faces.component.EditableValueHolder	getValidator()	EditableValueHolder.getValidators() should be used instead. 
IC_JSFDM_2.0_017	javax.faces.component.UIInput.getValidator()	javax.faces.component.UIInput	getValidator()	UIInput.getValidators() should be used instead. 
IC_JSFDM_2.0_018	javax.faces.component.UIComponent.getValueBinding(String)	javax.faces.component.UIComponent	getValueBinding(String)	This has been replaced by UIComponent.getValueExpression(java.lang.String). 
IC_JSFDM_2.0_019	javax.faces.component.UIComponentBase.getValueBinding(String)	javax.faces.component.UIComponentBase	getValueBinding(String)	This has been replaced by UIComponent.getValueExpression(java.lang.String). 
IC_JSFDM_2.0_020	javax.faces.component.UIGraphic.getValueBinding(String)	javax.faces.component.UIGraphic	getValueBinding(String)	This has been replaced by UIGraphic.getValueExpression(java.lang.String). 
IC_JSFDM_2.0_021	javax.faces.component.UISelectBoolean.getValueBinding(String)	javax.faces.component.UISelectBoolean	getValueBinding(String)	This has been replaced by UISelectBoolean.getValueExpression(java.lang.String). 
IC_JSFDM_2.0_022	javax.faces.component.UISelectMany.getValueBinding(String)	javax.faces.component.UISelectMany	getValueBinding(String)	this has been replaced by UISelectMany.getValueExpression(java.lang.String). 
IC_JSFDM_2.0_023	javax.faces.component.EditableValueHolder.getValueChangeListener()	javax.faces.component.EditableValueHolder	getValueChangeListener()	Use EditableValueHolder.getValueChangeListeners() instead. 
IC_JSFDM_2.0_024	javax.faces.application.Application.getVariableResolver()	javax.faces.application.Application	getVariableResolver()	This has been replaced by Application.getELResolver(). 
IC_JSFDM_2.0_025	"javax.faces.application.StateManager.restoreComponentState(FacesContext, UIViewRoot, String)"	javax.faces.application.StateManager	"restoreComponentState(FacesContext,UIViewRoot,String)"	the distinction between tree structure and component state is now an implementation detail. The default implementation does nothing. 
IC_JSFDM_2.0_026	"javax.faces.application.StateManager.restoreTreeStructure(FacesContext, String, String)"	javax.faces.application.StateManager	"restoreTreeStructure(FacesContext,String,String)"	the distinction between tree structure and component state is now an implementation detail. The default implementation returns null. 
IC_JSFDM_2.0_027	javax.faces.application.StateManager.saveSerializedView(FacesContext)	javax.faces.application.StateManager	saveSerializedView(FacesContext)	"this has been replaced by StateManager.saveView(javax.faces.context.FacesContext). The default implementation calls saveView and inspects the return. If the return is an Object [], it casts the result to an Object [] wrapping the first and second elements in an instance of StateManager.SerializedView, which it then returns. Otherwise, it return null "
IC_JSFDM_2.0_028	javax.faces.component.ActionSource.setAction(MethodBinding)	javax.faces.component.ActionSource	setAction(MethodBinding)	This has been replaced by ActionSource2.setActionExpression(javax.el.MethodExpression). 
IC_JSFDM_2.0_029	javax.faces.component.UICommand.setAction(MethodBinding)	javax.faces.component.UICommand	setAction(MethodBinding)	This has been replaced by UICommand.setActionExpression(javax.el.MethodExpression). 
IC_JSFDM_2.0_030	javax.faces.component.ActionSource.setActionListener(MethodBinding)	javax.faces.component.ActionSource	setActionListener(MethodBinding)	This has been replaced by ActionSource.addActionListener(javax.faces.event.ActionListener). 
IC_JSFDM_2.0_031	javax.faces.component.UICommand.setActionListener(MethodBinding)	javax.faces.component.UICommand	setActionListener(MethodBinding)	This has been replaced by UICommand.addActionListener(javax.faces.event.ActionListener). 
IC_JSFDM_2.0_032	javax.faces.application.Application.setPropertyResolver(PropertyResolver)	javax.faces.application.Application	setPropertyResolver(PropertyResolver)	The recommended way to affect the execution of the EL is to provide an <el-resolver> element at the right place in the application configuration resources which will be considered in the normal course of expression evaluation. This method now will cause the argument resolver to be wrapped inside an implementation of ELResolver and exposed to the EL resolution system as if the user had called Application.addELResolver(javax.el.ELResolver). 
IC_JSFDM_2.0_033	javax.faces.component.EditableValueHolder.setValidator(MethodBinding)	javax.faces.component.EditableValueHolder	setValidator(MethodBinding)	"Use EditableValueHolder.addValidator(javax.faces.validator.Validator) instead, obtaining the argument Validator by creating an instance of MethodExpressionValidator. "
IC_JSFDM_2.0_034	javax.faces.component.UIInput.setValidator(MethodBinding)	javax.faces.component.UIInput	setValidator(MethodBinding)	"Use UIInput.addValidator(javax.faces.validator.Validator) instead, obtaining the argument Validator by creating an instance of MethodExpressionValidator. "
IC_JSFDM_2.0_035	"javax.faces.component.UIComponent.setValueBinding(String, ValueBinding)"	javax.faces.component.UIComponent	"setValueBinding(String,ValueBinding)"	"This has been replaced by UIComponent.setValueExpression(java.lang.String, javax.el.ValueExpression). "
IC_JSFDM_2.0_036	"javax.faces.component.UIComponentBase.setValueBinding(String, ValueBinding)"	javax.faces.component.UIComponentBase	"setValueBinding(String,ValueBinding)"	"This has been replaced by UIComponent.setValueExpression(java.lang.String, javax.el.ValueExpression). "
IC_JSFDM_2.0_037	"javax.faces.component.UIData.setValueBinding(String, ValueBinding)"	javax.faces.component.UIData	"setValueBinding(String,ValueBinding)"	"This has been replaced by UIData.setValueExpression(java.lang.String, javax.el.ValueExpression). "
IC_JSFDM_2.0_038	"javax.faces.component.UIGraphic.setValueBinding(String, ValueBinding)"	javax.faces.component.UIGraphic	"setValueBinding(String,ValueBinding)"	"This has been replaced by UIGraphic.setValueExpression(java.lang.String, javax.el.ValueExpression). "
IC_JSFDM_2.0_039	"javax.faces.component.UISelectBoolean.setValueBinding(String, ValueBinding)"	javax.faces.component.UISelectBoolean	"setValueBinding(String,ValueBinding)"	"This has been replaced by UISelectBoolean.setValueExpression(java.lang.String, javax.el.ValueExpression). "
IC_JSFDM_2.0_040	"javax.faces.component.UISelectMany.setValueBinding(String, ValueBinding)"	javax.faces.component.UISelectMany	"setValueBinding(String,ValueBinding)"	"This has been replaced by UISelectMany.setValueExpression(java.lang.String, javax.el.ValueExpression). "
IC_JSFDM_2.0_041	javax.faces.component.EditableValueHolder.setValueChangeListener(MethodBinding)	javax.faces.component.EditableValueHolder	setValueChangeListener(MethodBinding)	"Use EditableValueHolder.addValueChangeListener(javax.faces.event.ValueChangeListener) instead, obtaining the argument ValueChangeListener by creating an instance of MethodExpressionValueChangeListener. "
IC_JSFDM_2.0_042	javax.faces.component.UIInput.setValueChangeListener(MethodBinding)	javax.faces.component.UIInput	setValueChangeListener(MethodBinding)	"Use UIInput.addValueChangeListener(javax.faces.event.ValueChangeListener) instead, obtaining the argument ValueChangeListener by creating an instance of MethodExpressionValueChangeListener. "
IC_JSFDM_2.0_043	javax.faces.application.Application.setVariableResolver(VariableResolver)	javax.faces.application.Application	setVariableResolver(VariableResolver)	The recommended way to affect the execution of the EL is to provide an <el-resolver> element at the right place in the application configuration resources which will be considered in the normal course of expression evaluation. This method now will cause the argument resolver to be wrapped inside an implementation of ELResolver and exposed to the EL resolution system as if the user had called Application.addELResolver(javax.el.ELResolver). 
IC_JSFDM_2.0_044	"javax.faces.application.StateManager.writeState(FacesContext, StateManager.SerializedView)"	javax.faces.application.StateManager	"writeState(FacesContext,StateManager.SerializedView)"	"This method has been replaced by StateManager.writeState(javax.faces.context.FacesContext,java.lang.Object). The default implementation calls the non-deprecated variant of the method passing an Object [] as the second argument, where the first element of the array is the return from getStructure() and the second is the return from getState() on the argument state. "
IC_JSFDM_2.0_045	"javax.faces.render.ResponseStateManager.writeState(FacesContext, StateManager.SerializedView)"	javax.faces.render.ResponseStateManager	"writeState(FacesContext,StateManager.SerializedView)"	"This method has been replaced by ResponseStateManager.writeState(javax.faces.context.FacesContext,java.lang.Object). The default implementation creates a two element Object array with the first element being the return from calling StateManager.SerializedView.getStructure(), and the second being the return from StateManager.SerializedView.getState(). It then passes this Object array to ResponseStateManager.writeState(javax.faces.context.FacesContext, java.lang.Object). "
IC_JSFDM_2.2m11_001	"javax.faces.application.ApplicationWrapper.createComponent(ValueBinding, FacesContext, String)"	javax.faces.application.ApplicationWrapper	"createComponent(ValueBinding, FacesContext, String)"	See superclass for alternative.
IC_JSFDM_2.2m11_002	"javax.faces.application.ApplicationWrapper.createMethodBinding(String, Class[])"	javax.faces.application.ApplicationWrapper	"createMethodBinding(String, Class[])"	See superclass for alternative.
IC_JSFDM_2.2m11_003	"javax.faces.application.ApplicationWrapper.evaluateExpressionGet(FacesContext, String, Class)"	javax.faces.application.ApplicationWrapper	"evaluateExpressionGet(FacesContext, String, Class)"	See superclass for alternative.
IC_JSFDM_2.2m11_004	javax.faces.component.UIViewAction.getAction()	javax.faces.component.UIViewAction	getAction()	See superclass for alternative.
IC_JSFDM_2.2m11_005	javax.faces.application.ApplicationWrapper.getPropertyResolver()	javax.faces.application.ApplicationWrapper	getPropertyResolver()	See superclass for alternative.
IC_JSFDM_2.2m11_006	javax.faces.application.ApplicationWrapper.getVariableResolver()	javax.faces.application.ApplicationWrapper	getVariableResolver()	See superclass for alternative.
IC_JSFDM_2.2m11_007	"javax.faces.application.StateManager.restoreView(FacesContext, String, String)"	javax.faces.application.StateManager	"restoreView(FacesContext, String, String)"	See superclass for alternative.
IC_JSFDM_2.3_001	javax.faces.application.StateManager.saveView(FacesContext)	javax.faces.application.StateManager	saveView(FacesContext)	See superclass for alternative.
IC_JSFDM_2.3_002	javax.faces.application.ApplicationWrapper.setPropertyResolver(PropertyResolver)	javax.faces.application.ApplicationWrapper	setPropertyResolver(PropertyResolver)	See superclass for alternative.
IC_JSFDM_2.3_003	"javax.faces.view.facelets.FaceletCache.setMemberFactories(FaceletCache.MemberFactory<V>, FaceletCache.MemberFactory<V>)"	javax.faces.view.facelets.FaceletCache	"setMemberFactories(FaceletCache.MemberFactory<V>, FaceletCache.MemberFactory<V>)"	
				
				
IC_JSFDCN_2.3_001	javax.faces.application.ApplicationFactory()	javax.faces.application	ApplicationFactory()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_002	javax.faces.application.ApplicationWrapper()	javax.faces.application	ApplicationWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_003	javax.faces.lifecycle.ClientWindowFactory()	javax.faces.lifecycle	ClientWindowFactory()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_004	javax.faces.lifecycle.ClientWindowWrapper()	javax.faces.lifecycle	ClientWindowWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_005	javax.faces.application.ConfigurableNavigationHandlerWrapper()	javax.faces.application	ConfigurableNavigationHandlerWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_006	javax.faces.context.ExceptionHandlerFactory()	javax.faces.context	ExceptionHandlerFactory()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_007	javax.faces.context.ExceptionHandlerWrapper()	javax.faces.context	ExceptionHandlerWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_008	javax.faces.context.ExternalContextFactory()	javax.faces.context	ExternalContextFactory()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_009	javax.faces.context.ExternalContextWrapper()	javax.faces.context	ExternalContextWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_010	javax.faces.view.facelets.FaceletCacheFactory()	javax.faces.view.facelets	FaceletCacheFactory()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_011	javax.faces.context.FacesContextFactory()	javax.faces.context	FacesContextFactory()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_012	javax.faces.context.FacesContextWrapper()	javax.faces.context	FacesContextWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_013	javax.faces.context.FlashFactory()	javax.faces.context	FlashFactory()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_014	javax.faces.context.FlashWrapper()	javax.faces.context	FlashWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_015	javax.faces.flow.FlowHandlerFactoryWrapper()	javax.faces.flow	FlowHandlerFactoryWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_016	javax.faces.lifecycle.LifecycleFactory()	javax.faces.lifecycle	LifecycleFactory()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_017	javax.faces.lifecycle.LifecycleWrapper()	javax.faces.lifecycle	LifecycleWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_018	javax.faces.application.NavigationCaseWrapper()	javax.faces.application	NavigationCaseWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_019	javax.faces.application.NavigationHandlerWrapper()	javax.faces.application	NavigationHandlerWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_020	javax.faces.context.PartialViewContextFactory()	javax.faces.context	PartialViewContextFactory()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_021	javax.faces.context.PartialViewContextWrapper()	javax.faces.context	PartialViewContextWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_022	javax.faces.render.RendererWrapper()	javax.faces.render	RendererWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_023	javax.faces.render.RenderKitFactory()	javax.faces.render	RenderKitFactory()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_024	javax.faces.render.RenderKitWrapper()	javax.faces.render	RenderKitWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_025	javax.faces.application.ResourceHandlerWrapper()	javax.faces.application	ResourceHandlerWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_026	javax.faces.application.ResourceWrapper()	javax.faces.application	ResourceWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_027	javax.faces.context.ResponseWriterWrapper()	javax.faces.context	ResponseWriterWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_028	javax.faces.application.StateManagerWrapper()	javax.faces.application	StateManagerWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_029	javax.faces.view.facelets.TagHandlerDelegateFactory()	javax.faces.view.facelets	TagHandlerDelegateFactory()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_030	javax.faces.view.ViewDeclarationLanguageFactory()	javax.faces.view	ViewDeclarationLanguageFactory()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_031	javax.faces.view.ViewDeclarationLanguageWrapper()	javax.faces.view	ViewDeclarationLanguageWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_032	javax.faces.application.ViewHandlerWrapper()	javax.faces.application	ViewHandlerWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_033	javax.faces.component.visit.VisitContextFactory()	javax.faces.component.visit	VisitContextFactory()	Usetheotherconstructortakingtheimplementationbeingwrapped.
IC_JSFDCN_2.3_034	javax.faces.component.visit.VisitContextWrapper()	javax.faces.component.visit	VisitContextWrapper()	Usetheotherconstructortakingtheimplementationbeingwrapped.
